Xilinx-Licences
**/__pycache__

Vivado/*
!Vivado/dpm-verilog
!Vivado/dpm-verilog/**
!Vivado/bd_tcl

!Vivado/SDR_Full
Vivado/SDR_Full/*

!Vivado/SDR_Full/test_board
Vivado/SDR_Full/test_board/*

!Vivado/SDR_Full/test_board/vivado
Vivado/SDR_Full/test_board/vivado/*

!Vivado/SDR_Full/test_board/vivado/test_board.srcs
Vivado/SDR_Full/test_board/vivado/test_board.srcs/*

!Vivado/SDR_Full/test_board/vivado/test_board.srcs/sources_1
Vivado/SDR_Full/test_board/vivado/test_board.srcs/sources_1/*

!Vivado/SDR_Full/test_board/vivado/test_board.srcs/sources_1/bd
Vivado/SDR_Full/test_board/vivado/test_board.srcs/sources_1/bd/*

!Vivado/SDR_Full/test_board/vivado/test_board.srcs/sources_1/bd/zsys
Vivado/SDR_Full/test_board/vivado/test_board.srcs/sources_1/bd/zsys/*

!Vivado/SDR_Full/test_board/vivado/test_board.srcs/sources_1/bd/zsys/hdl
!Vivado/SDR_Full/test_board/vivado/test_board.srcs/sources_1/bd/zsys/hdl/*


